//color
@mainBackground: mintcream;
@titleTableBackground: aquamarine;
@borderTableBottom: cyan;

// main styles
body {
    background-color: @mainBackground;
    font: 16px 'Times New Roman', 'sans-serif';
}

.main__usersGithub {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 50px 0;
    
    th {
        background-color: @titleTableBackground;
        height: 2em;
    }
    
    tr {
       border: 1px solid @borderTableBottom;
        
        td {
            padding: 10px 0;
            
            img {
                max-width: 40%;
            }
        }
    }
}